
@media screen and(min-width: 576px) {
  .padding-responsive{
    padding: 8px;
  }
  .image-list {
    width: 120px;
  }
  .elegant {
    .block-category {
      .image {
        width: 90px;
        height: 90px;
        img {
          width: 55px;
          height: 55px;
        }
      }
    }
  }
  .featured {
    .description{
      font-size: 13px;
    }
  }
}

@media screen and (max-width: 480px) {  
  .auto-padding {
    padding:5px 8px;
  }
  .text-auto {
    font-size: 11.5px;
  }
  .auto-padding-side {
    padding-left: 8px;
    padding-right: 8px;
  }
  .footer-tab {

    .q-tabs__content {
      justify-content: space-between;
    }
    .q-tab {
        padding: 0 5px;
    }
  }

  .img-product-admin {
    width: 60px;
    height:auto;
  }
}

@media screen and(min-width: 600px) {
  .block-container {
    margin-top: 1.6rem;
    .block-heading {
      margin-bottom: 1rem;
      .block-subtitle {
        font-size: 14px;
      }
      .banner {
        margin-top: .9rem
      }
    }
  }
}